* {
  box-sizing: border-box;
}

body {
  width: 900px;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: '#777';
/* background: '#777'; */
width: '960px';
font-size: '18px';
background-color: gray;
}

.header,
.footer,
.nav,
.section,
.aside {
  padding: 20px;
  margin: auto;
  }

  .header,
  .nav,
  .footer {
    width: 90%;
    margin-bottom: 10px;
    clear: both;
    background-color: #ebebeb;
    color: gray;
  }


#section1 {
  width: 495px;
  float: left;
  margin-left: 45px;
  margin-top: 10px; 
  margin-bottom: 15px;
  background-color: #ebebeb;
  color: gray;
  padding: 20px;
}

#article {
  color: '#ebebeb';
background-color: 'grey'!important;
border: 1px solid black;
width: 98%;
margin: auto;
margin-top: 20px;
padding: 20px;
color: white;

}



.aside {
  float: left;
  background-color: #ebebeb;
  color: gray;
  margin-left: 20px;
  margin-top: 10px;
  width: 295px;
  height: 230px;

}

.clearfix::after {
	content: “”;
	display: block;
  clear: both;
}
  
.footer {
  margin-top: 20px;

}

.headers,
.p {
  border: 1px solid black;
  width: 98%;
  margin: auto;
  margin-top: 8px;
  padding: 10px;
  background-color: #ebebeb;
  color: gray;
}
#article {
  background-color: gray;
}